html {
  background-color: #fff; }

body {
  background-color: #fff;
  /*font-family: 'roboto-condensedbold';*/
  overflow-x: hidden;
  font-size: 16px; }

body.bg {
  background: url(".") no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body.gray {
  background-color: #e8e8e8; }

a, a:hover {
  text-decoration: none; }

.wrapper {
  display: block;
  max-width: 1024px;
  margin: 0 auto; }

/*nav layout*/
nav {
  display: block;
  margin: 0 auto;
  max-height: 96px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }
  nav .wrapper {
    pointer-events: none; }
  nav .logo {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 24px 16px;
    pointer-events: auto; }
    nav .logo img {
      max-width: 100%;
      max-height: 100%; }
    nav .logo .large {
      display: initial; }
    nav .logo .small {
      display: none; }
  nav ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
    float: right;
    pointer-events: auto; }
    nav ul > li {
      /*Top Nav Items*/
      display: inline-block;
      position: relative;
      line-height: 92px;
      color: #fff;
      font-size: 13.5px;
      margin-right: -4px; }
      nav ul > li > a {
        display: block;
        padding: 0px 10px;
        text-transform: uppercase;
        line-height: 92px;
        color: #fff; }
        nav ul > li > a.button {
          background-color: #9ebc42;
          border: 1px solid #9ebc42;
          color: #fff;
          line-height: 24px;
          margin: 24px 10px;
          padding: 10px; }
          nav ul > li > a.button:hover {
            background-color: transparent;
            color: #9ebc42; }
        nav ul > li > a > span {
          display: block; }
        nav ul > li > a:hover {
          color: #84a229; }
      nav ul > li > ul {
        /*2nd level nav items*/
        display: none;
        background-color: rgba(255, 255, 255, 0.8);
        border-top: 3px solid #9dbd39; }
        nav ul > li > ul > li {
          display: block;
          margin: 0; }
          nav ul > li > ul > li > a {
            line-height: 36px;
            color: #494949;
            word-wrap: normal; }
      nav ul > li:hover > ul {
        /*3rd level nav items*/
        display: inline-block;
        position: absolute;
        top: 92px;
        left: 0;
        width: 220px; }
        nav ul > li:hover > ul > li:hover {
          background-color: rgba(255, 255, 255, 0.25); }
      nav ul > li.active > a {
        color: #84a229; }
  nav .nav-button {
    display: none; }
  nav.white {
    background-color: #fff; }
    nav.white .logo {
      padding: 0px; }
      nav.white .logo .large {
        display: none; }
      nav.white .logo .small {
        display: initial;
        padding: 30px 0 30px 12px;
        background-color: transparent; }
    nav.white ul a {
      color: #494949; }
      nav.white ul a:hover {
        color: #84a229; }
      nav.white ul a li {
        border-right-color: #494949; }
    nav.white ul > li > ul > li > a {
      background-color: #fff; }
      nav.white ul > li > ul > li > a:hover {
        background-color: #ededed; }

/*header styles*/
.header1 {
  background-color: #555; }

.header1 > .wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none; }

.header1 .wrapper-vertical {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.header1 .arrow {
  height: 72px;
  width: auto;
  position: absolute;
  top: 50%;
  margin-top: -36px;
  cursor: pointer;
  pointer-events: auto; }

.header1 .arrow.left {
  left: -32px; }

.header1 .arrow.right {
  right: -32px; }

.header1 .vide {
  text-align: center;
  position: relative;
  background: url(".") no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.header1 .vide h1 {
  font-family: 'nesobrite';
  font-size: 72px;
  line-height: 72px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 0; }

.header1 .vide h6 {
  margin: 0 0 32px;
  font-size: 21px;
  color: #fff;
  font-family: 'roboto-condensedregular';
  font-weight: normal; }

.header1 .vide h6.green {
  color: #9ebc42; }

.header1 .vide h6 strong {
  text-transform: uppercase; }

.header1 .vide .button {
  position: absolute;
  color: #fff;
  font-family: 'roboto-condensedlight';
  font-size: 15px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0; }

.header1 .vide .button span {
  display: block;
  text-transform: uppercase; }

.header1 .vide .button img {
  width: 32px;
  padding-bottom: 16px; }

.header2 {
  margin-top: 92px;
  padding: 64px 0;
  background: url(".") no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center; }

.header2.center-center {
  background-position: center center; }

.header2.none {
  padding: 0;
  background: url(".") no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center; }

.header2 h1 {
  font-family: 'nesobrite';
  font-size: 88px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  line-height: 88px; }

.header2 h2 {
  font-family: 'nesobrite';
  font-size: 52px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  line-height: 52px; }

.header2 h3 {
  font-family: 'roboto-condensedregular';
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  font-weight: normal; }

.header2 p {
  font-family: 'roboto-condensedregular';
  font-size: 20px;
  color: #fff;
  padding: 24px 0 0; }

.header3 {
  padding: 64px 0;
  background: url(".") no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center; }

.header3 h1 {
  font-family: 'nesobrite';
  font-size: 56px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  line-height: 56px; }

.header3 img.pad {
  padding: 0 0 64px 0; }

/*global styling*/
section {
  background-color: #fff;
  padding: 48px 0;
  background: url(".") no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

section .white {
  color: #ffffff; }

section .white-background {
  background-color: #fff; }

section.no-bottom-padding {
  padding-bottom: 0; }

section .no-bottom-padding {
  padding-bottom: 0; }

section.bottom-line {
  border-bottom: 1px solid #ededed; }

section h1 {
  font-family: 'roboto-condensedregular';
  font-size: 52px; }

section h2 {
  font-family: 'roboto-condensedregular';
  font-size: 32px;
  padding: 0px 0px 18px;
  line-height: 32px;
  color: #494949;
  font-weight: normal; }

section h2.center {
  text-align: center; }

section h3 {
  font-family: 'roboto-condensedregular';
  font-size: 28px;
  padding: 0px 0px 16px;
  margin-top: 0px;
  line-height: 28px;
  color: #494949;
  font-weight: bold; }

section h4 {
  font-family: 'roboto-condensedregular';
  font-size: 21px;
  padding: 0px 0px 12px;
  margin-top: 0px;
  line-height: 21px;
  color: #494949;
  font-weight: normal; }

section p {
  font-family: 'roboto-condensedlight';
  font-size: 18px;
  color: #4a4a4a;
  margin-bottom: 5%; }

section ul {
  font-family: 'roboto-condensedlight';
  font-size: 18px;
  color: #4a4a4a; }

section ul li a {
  font-size: inherit;
  font-family: inherit;
  color: #9ebc42; }

section p strong {
  font-size: 21px; }

section a {
  font-family: 'roboto-condensedbold';
  font-size: 21px;
  color: #4a4a4a;
  margin-bottom: 5%; }

section a:hover {
  color: #9ebc42; }

section img {
  max-width: 100%;
  padding-bottom: 5%; }

section img.block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

section .wrapper.pad-side {
  padding: 0px 12px; }

section .button {
  display: inline-block;
  padding: 12px 24px;
  margin-bottom: 5%;
  color: #333;
  font-family: 'roboto-condensedbold';
  font-size: 18px; }

section .button:hover {
  opacity: 0.75; }

section .button.gray {
  background-color: #474747;
  color: #fff; }

section .button.gray:hover {
  opacity: initial;
  background-color: #9ebc42; }

section .button.no-margin {
  margin: 0; }

section .center {
  text-align: center; }

section .no-margin {
  margin: initial; }

section .no-stretch {
  width: auto; }

section .top-margin {
  margin-top: 64px; }

section ul.left-nav {
  list-style: none;
  padding: 0 10% 0 0;
  font-size: 21px;
  font-family: 'roboto-condensedbold';
  color: #494949; }

section ul.left-nav a {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #999999; }

section ul.left-nav a:last-of-type {
  border: none; }

section ul.left-nav a.active {
  color: #9ebc42; }

section ul.left-nav .toggle {
  display: none; }

section .panel h1 {
  font-size: 48px;
  padding: 0 0 12px;
  margin: 0;
  color: #494949; }

section .panel h3 {
  border-bottom: 4px solid #f1f1f1;
  padding: 12px;
  background-color: #f1f1f1;
  font-weight: normal; }

section .panel h4 {
  padding: 0;
  margin: 0; }

section .panel ul {
  font-family: 'roboto-condensedregular';
  color: #494949;
  margin-bottom: 12px; }
  section .panel ul li ul {
    margin-bottom: 0; }

section .panel ul a.more {
  display: inline-block;
  margin: 0px 0 8px -40px;
  cursor: pointer;
  color: #9ebc42;
  font-family: 'roboto-condensedregular';
  font-size: 16px;
  font-weight: normal; }

section .panel ul a.more:hover {
  color: #666; }

section .panel .row .row {
  border-bottom: 1px solid #ededed;
  padding: 12px 0 0;
  margin: 0 0px; }

section .panel {
  box-shadow: none; }

section .panel-title {
  padding: 0; }

section .panel-title > a {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  width: 100%; }

section .panel-title > a:after {
  content: '-';
  font-size: 32px;
  color: #fff;
  background-color: #999999;
  float: right;
  width: 32px;
  line-height: 32px;
  text-align: center;
  margin-right: -15px;
  margin-bottom: -10px;
  border-bottom: 1px solid #999999; }

section .panel-title > a.collapsed:after {
  content: '+'; }

section .panel .location .special h3 {
  background-color: #9EBC42;
  color: #fff;
  cursor: initial; }
  section .panel .location .special h3:after {
    content: '' !important; }

section .panel-default {
  border: none; }

section .panel-default > .panel-heading {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0; }

section .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none; }

section .panel .location h3 {
  cursor: pointer; }

section .panel .location div.collapsed {
  display: none; }

section .panel .location h3:after {
  content: '+';
  font-size: 32px;
  color: #494949;
  float: right;
  width: 32px;
  line-height: 32px;
  text-align: center;
  margin-right: -12px; }

section .panel .location h3.collapsed:after {
  content: '-'; }

section .tiles {
  max-width: 796px;
  margin: 48px auto 0; }

section .tiles.no-margin {
  margin: 48px 0 0;
  max-width: initial; }

section .tiles.no-margin a img {
  width: 100%; }

section .tiles strong {
  font-family: 'roboto-condensedbold';
  font-size: 21px; }

section .tiles a {
  display: inline-block;
  width: 33.3333%;
  margin: 0 -2px 1px; }

section .tiles a img {
  display: inline-block;
  padding-bottom: 0px; }

section .tiles a:hover {
  /*background-color: #9ebc42;*/ }

section .tiles a:hover img {
  opacity: 0.75; }

section .compact-left {
  display: block;
  max-width: 640px;
  margin: 64px auto 0; }

section .compact-left strong p {
  margin: 0;
  font-size: 21px; }

section .compact-left p {
  text-align: left; }

section form {
  margin: 64px auto;
  max-width: 640px; }

section form .form-control {
  background-color: #e5e5e5;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 16px;
  height: 64px;
  line-height: 64px; }

section form textarea.form-control {
  line-height: initial;
  height: 128px;
  padding-top: 24px; }

section form button.button {
  float: right;
  background-color: #9ebc42;
  color: #fff;
  border: none;
  border-bottom: 4px solid #83a90d;
  font-family: 'roboto-condensedregular'; }

section .divider {
  border-bottom: 1px solid #dddddd;
  margin: 5% 0; }

section .green {
  color: #83A90D; }

section.gray {
  background-color: #e8e8e8; }

section.light-gray {
  background-color: #f6f7f8; }

section.clear {
  background-color: transparent; }

section .visitor-carousel {
  margin-top: -80px;
  text-align: center;
  padding-bottom: 5%; }

section .visitor-carousel .item {
  padding: 0 5%; }

section .visitor-carousel .wrapper {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  background-color: #fff;
  padding: 5% 2.5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); }

section .visitor-carousel .arrow {
  width: 64px;
  height: 64px;
  background-color: #bcbcbc;
  padding: 12px;
  position: absolute;
  top: 50%;
  pointer-events: auto; }

section .visitor-carousel .arrow:hover {
  opacity: .75;
  cursor: pointer; }

section .visitor-carousel .arrow img {
  max-width: 100%;
  max-height: 100%; }

section .visitor-carousel .arrow.left {
  float: left;
  margin-top: -32px;
  left: -32px; }

section .visitor-carousel .arrow.right {
  float: right;
  margin-top: -32px;
  right: -32px; }

section .visitor-carousel h3 {
  margin: 0;
  padding: 0 0 8px;
  font-size: 24px;
  line-height: 24px; }

section .visitor-carousel .left-justify {
  text-align: left; }

section .visitor-carousel .button {
  padding: 21px 64px;
  background-color: #9ebd3d;
  color: #fff;
  position: absolute;
  bottom: 0;
  margin-bottom: -5%;
  left: 33.3334%;
  width: 33.3334%;
  pointer-events: auto; }

section .visitor-carousel .navi {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none; }

section .training-schedule-options .item {
  padding: 0;
  text-decoration: none; }
  section .training-schedule-options .item div {
    background-color: #e6e6e6;
    border-top: 4px solid #9ebc42;
    margin: 0 0 0 15px;
    padding: 10% 0;
    text-align: center; }
  section .training-schedule-options .item .material-icons {
    color: #494949;
    display: block;
    font-size: 64px;
    margin-bottom: 12px; }
  section .training-schedule-options .item .header {
    color: #494949;
    display: block;
    font-family: 'roboto-condensedbold';
    font-size: 24px;
    margin: 0; }
  section .training-schedule-options .item .sub-header {
    color: #494949;
    display: block;
    font-family: 'roboto-condensedbold';
    font-size: 12px;
    margin: 0; }

section .vertical-align {
  display: flex;
  flex-direction: row; }

section .vertical-align > [class^="col-"],
section .vertical-align > [class*=" col-"] {
  align-items: center;
  display: flex; }

section .vertical-align > [class^="col-"] > div,
section .vertical-align > [class*=" col-"] > div {
  flex: 1;
  flex-grow: 1; }

/*carousel styling*/
.about-carousel {
  text-align: center;
  padding: 0 0 5% 0; }

.about-carousel.gray {
  background-color: #e8e8e8; }

.about-carousel h2 {
  color: #494949;
  font-family: 'roboto-condensedregular';
  font-size: 32px;
  padding: 5% 0;
  margin: 0; }

.about-carousel .owl-carousel .item, .panelshop-carousel .owl-carousel .item {
  padding: 0 7.5%; }

.about-carousel .owl-carousel .item a {
  background-color: #9ebc42;
  display: inline-block; }

.about-carousel .owl-carousel .item img {
  max-width: 100%;
  display: block;
  padding-bottom: initial; }

.about-carousel .owl-carousel .item img:hover {
  opacity: .5; }

.about-carousel .owl-carousel .item strong {
  margin: 4px 0;
  display: block;
  font-size: 21px;
  color: #4a4a4a;
  font-family: 'roboto-condensedbold'; }

.about-carousel .owl-carousel .item p {
  margin: 4px 0;
  font-family: 'roboto-condensedlight';
  font-size: 18px;
  color: #4a4a4a; }

.carousel {
  position: relative; }

.carousel > .wrapper.navi {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none; }

.carousel > .wrapper.navi .arrow {
  height: 72px;
  width: auto;
  position: absolute;
  top: 50%;
  margin-top: -36px;
  cursor: pointer;
  pointer-events: auto; }

.carousel > .wrapper.navi img.arrow {
  padding-bottom: initial; }

.carousel > .wrapper.navi .arrow.left {
  left: -32px; }

.carousel > .wrapper.navi .arrow.right {
  right: -32px; }

.showcase-carousel {
  text-align: center;
  padding: 5% 0 5% 0; }

.showcase-carousel.gray {
  background-color: #ececec; }

.showcase-carousel h4 {
  margin-bottom: 48px;
  font-family: 'roboto-condensedbold';
  color: #505050; }

.showcase-carousel .owl-carousel .item img {
  max-height: 96px;
  width: auto; }

.about-logos .owl-carousel .item {
  text-align: center; }

/*footer styles*/
footer {
  background-color: #dbdbdb;
  padding: 72px 12px; }

footer .item {
  text-align: left; }

footer .social-media {
  display: block;
  margin-bottom: 8px; }

footer ul {
  list-style: none;
  padding: 0;
  margin: 0; }

footer ul a {
  display: block;
  color: #333333;
  padding: 0 0 20px;
  text-transform: uppercase;
  font-family: "roboto-condensedlight";
  word-wrap: break-word; }

footer ul a:hover {
  color: #84a229; }

footer ul a li strong {
  font-family: "roboto-condensedbold"; }

footer .divider1 {
  display: inline-block;
  height: 128px;
  width: 0px;
  margin: 0 26px 0 -30px;
  border-right: 1px solid #333; }

footer img {
  vertical-align: top; }

footer .center {
  text-align: center; }

footer p {
  font-family: "roboto-condensedlight";
  font-size: 14px;
  color: #999999; }

footer .pad-top {
  padding-top: 5%; }

/*class mutators*/
.effect-swing {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

.effect-swing-slow {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.rotate {
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out; }

.rotate:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }

img.zoom-in {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

img.zoom-in:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }

img.zoom-out {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

img.zoom-out:hover {
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75); }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.full-width {
  width: 100%;
  max-width: initial !important; }

@media (max-width: 1024px) {
  .header1 .arrow.left {
    left: 0px;
    height: 32px;
    padding: 8px; }
  .header1 .arrow.right {
    right: 0px;
    height: 32px;
    padding: 8px; }
  .carousel > .wrapper.navi .arrow.left {
    left: 0px;
    height: 32px;
    padding: 8px; }
  .carousel > .wrapper.navi .arrow.right {
    right: 0px;
    height: 32px;
    padding: 8px; } }

@media (max-width: 900px) {
  /*mobile*/
  nav .nav-button {
    display: inline-block;
    left: -96px;
    top: 0px;
    position: absolute;
    float: right;
    line-height: 96px;
    width: 96px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); }
  nav .nav-button img {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px; }
  nav .logo {
    padding: 0px; }
  nav .logo img {
    padding: 16px;
    height: 96px; }
  nav ul {
    position: absolute;
    top: 0px;
    left: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding-top: 96px; }
  nav ul:hover {
    left: 50%;
    width: 50%;
    padding-top: 96px; }
  nav ul:hover .nav-button {
    left: 0px;
    opacity: 0.1; }
  nav ul a {
    display: block;
    line-height: 64px;
    color: #494949; }
  nav ul a li {
    display: block;
    border: none;
    padding: 0; }
  /*second tier dropdown*/
  nav ul > li {
    display: block;
    line-height: initial; }
  nav ul > li > a {
    line-height: 36px;
    color: #494949; }
  nav ul > li:hover > ul {
    display: none; }
  nav.white ul {
    background-color: #fff; }
  nav.white .logo {
    height: 96px; }
  nav.white .logo .small {
    height: initial; }
  nav.white .nav-button {
    background-color: transparent; }
  .header1 .vide .wrapper-vertical {
    padding: 0px 32px; }
  .header1 .vide h1 {
    font-size: 32px;
    line-height: 32px; }
  .header2 h1 {
    font-size: 45px;
    line-height: 45px; }
  .header2 h2 {
    font-size: 32px;
    line-height: 32px; }
  .header2 h3 {
    font-size: 16px;
    line-height: 16px; }
  .header3 h1 {
    font-size: 24px;
    line-height: 24px; }
  section {
    text-align: center; }
  section ul.left-nav {
    padding: 0;
    margin: 0 0 32px; }
  section ul.left-nav a {
    height: 0;
    line-height: 0px;
    overflow: hidden;
    padding: 0;
    border: none; }
  section ul.left-nav .toggle {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    background-color: #eee;
    padding: 0px 12px; }
  section ul.left-nav .toggle span {
    padding: 0 6px; }
  section ul.left-nav.active a {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #ccc; }
  section ul.left-nav.active {
    padding: 0 0 32px; }
  section ul li {
    text-align: left; }
  section .panel ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10%; }
  section .panel ul a.more {
    margin: 0; }
  section .panel ul li {
    text-align: center; }
  section .panel .row .row img {
    padding: 0; }
  section .panel .row .row ul {
    margin: 0 0 8px; }
  section .tiles a {
    width: 50%; }
  section .tiles a img {
    width: 100%; }
  section .compact-left p {
    text-align: center; }
  section .visitor-carousel .wrapper {
    padding: 10% 5% 0; }
  section .visitor-carousel .left-justify {
    text-align: center; }
  section .visitor-carousel .navi {
    position: relative;
    margin: 0; }
  section .visitor-carousel .arrow {
    position: relative;
    margin: 0; }
  section .visitor-carousel .arrow.left {
    left: 0;
    margin: 0; }
  section .visitor-carousel .arrow.right {
    margin: 0;
    right: 0; }
  section .visitor-carousel .button {
    position: relative;
    left: initial;
    padding: 12px;
    left: initial;
    width: auto; }
  section .training-schedule-options .item {
    width: 100%; }
    section .training-schedule-options .item div {
      margin: 0; }
  footer .item {
    text-align: center; }
  footer .divider1 {
    display: none; } }

@media (max-height: 639px) and (orientation: landscape) {
  /*prevent nav from covering content*/
  nav.white {
    position: relative; }
  .header1 .vide .wrapper-vertical {
    /*padding: 0px 32px;*/ }
  .header1 .vide h1 {
    font-size: 32px;
    line-height: 32px; }
  .header2 {
    margin: 0; } }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 25, 2014 */
@font-face {
  font-family: 'roboto-condensedregular';
  src: url("../fonts/robotocondensed-regular-webfont.eot");
  src: url("../fonts/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-regular-webfont.woff") format("woff"), url("../fonts/robotocondensed-regular-webfont.ttf") format("truetype"), url("../fonts/robotocondensed-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-condensedbold';
  src: url("../fonts/robotocondensed-bold-webfont.eot");
  src: url("../fonts/robotocondensed-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-bold-webfont.woff") format("woff"), url("../fonts/robotocondensed-bold-webfont.ttf") format("truetype"), url("../fonts/robotocondensed-bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-condensedlight';
  src: url("../fonts/robotocondensed-light-webfont.eot");
  src: url("../fonts/robotocondensed-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-light-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-light-webfont.woff") format("woff"), url("../fonts/robotocondensed-light-webfont.ttf") format("truetype"), url("../fonts/robotocondensed-light-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nesobrite';
  src: url("../fonts/nesobrite_expanded_black-webfont.eot");
  src: url("../fonts/nesobrite_expanded_black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nesobrite_expanded_black-webfont.woff2") format("woff2"), url("../fonts/nesobrite_expanded_black-webfont.woff") format("woff"), url("../fonts/nesobrite_expanded_black-webfont.ttf") format("truetype"), url("../fonts/nesobrite_expanded_black-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'feltTipRoman';
  src: url("../fonts/felt_tip_roman-webfont.eot");
  src: url("../fonts/felt_tip_roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/felt_tip_roman-webfont.woff2") format("woff2"), url("../fonts/felt_tip_roman-webfont.woff") format("woff"), url("../fonts/felt_tip_roman-webfont.ttf") format("truetype"), url("../fonts/felt_tip_roman-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
@font-face {
    font-family: 'gotham_htfbook';
    src: url('../fonts/gothamhtf-book-webfont.eot');
    src: url('../fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gothamhtf-book-webfont.woff2') format('woff2'),
    url('../fonts/gothamhtf-book-webfont.woff') format('woff'),
    url('../fonts/gothamhtf-book-webfont.ttf') format('truetype'),
    url('../fonts/gothamhtf-book-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_htfbold';
    src: url('../fonts/gothamhtf-bold-webfont.eot');
    src: url('../fonts/gothamhtf-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gothamhtf-bold-webfont.woff2') format('woff2'),
    url('../fonts/gothamhtf-bold-webfont.woff') format('woff'),
    url('../fonts/gothamhtf-bold-webfont.ttf') format('truetype'),
    url('../fonts/gothamhtf-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
